__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/

.git/
.gitignore/

.env
.env.*

*.log

tests/
docs/

uploads/
vector_db/

*.db
*.sqlite
*.sqlite3

*.ipynb
.ipynb_checkpoints/

.vscode/
.idea/

build/
dist/
*.egg-info/